body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imagen {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}
.borde {
    border: 2px solid red;

}

img {
    width: 300px;
    height: 300px;
}

h1 {
    color: rgb(42, 65, 165);
}